<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Careers Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .container{
        max-width: 800px;
        margin: 0 auto;
      }
      #banner{
        height:360px;
        width:100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1>AI Curation labs Careers</h1>
    <img id="banner" src="https://d2e56986-9255-4a0c-b32e-821b296cca6e-00-22r7j26pydp9v.kirk.replit.dev/static/christopher-gower-unsplash.jpg">
    <h2>About Curation</h2>
    <p>lorem </p>
    <h2>Check out Job Openings below.</h2>
    <p>TO DO: show the jobs here:</p>
      <div style="text-align:center">
    <button>Contact us</button>
      </div>
      </div>
    <footer style="text-align:center"> &copy;Copyright 2024 | AI Curation labs </footer>
  </body>
</html>